@import "tailwindcss";

:root {
    --primary: #2563eb;
    --primary-hover: #1d4ed8;
    --bg-color: #f3f4f6;
    --card-bg: #ffffff;
    --text-main: #1f2937;
    --text-muted: #6b7280;
    --border: #e5e7eb;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}